.main-wrap{
 width:800px;
 margin:120px auto 0;
}
.main-wrap a{
  cursor: pointer;
}
.main-wrap .wrap-closet{
  width:19vw;
  min-width: 300px;
  position:absolute;
  bottom: 5vh;
  left:calc(50% - 9.5vw);
}
.main-wrap #main-closet{
  display: block;
  margin: auto;
  width:19vw;
  min-width: 300px;

}
.main-wrap #opencloset{
  text-align: center;
  color:var(--white);
  width:12.5vw;
  min-width: 200px;
  box-sizing: border-box;
  font-size:30px;
  letter-spacing: 5px;
  border-radius: 12px;
  border:none;
  padding:20px;
  background-color: var(--purple-rgba);
  position:absolute;
  top:calc(50%);
  left:calc(50% - 6.25vw);
  display: none;
  cursor:pointer;
  z-index: 10;
}
.main-wrap .wrap-closet:hover #opencloset{
  display: block;

}