.main-wrap{
 width:800px;
 margin:auto;
}
.main-wrap a{
  cursor: pointer;
}
.main-wrap .main-closet{
  display: block;
  min-width:400px;
  margin:auto;
  position:absolute; 
  bottom: 5vh;
  left:calc(50% - 200px);
}