{% include 'head.html' %}
<link href="../static/board.css" rel="stylesheet">
<script>
	$(document).ready(function(){
		$.ajax({
			type: "GET",
			url: "/trade/",
			data: {},
			success: function (response) {

			}
		})
	})
</script>
<body>
<div class="wrap">
	<div class="container">
		<br>
		<h1><strong><a style="color:#110957;">중고거래</a></strong></h1>
		<div class="new_trade"><a href="/trade/write" style="color : black;">판매 등록하기</a></div>
		<br>
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="..." alt="...">
					<div class="caption">
						<h3>Thumbnail label</h3>
						<p>...</p>
						<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#"
																						   class="btn btn-default"
																						   role="button">Button</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>

