<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> What's in my closet</title>
  <!-- google+font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Festive&family=Do+Hyeon&family=Nanum+Brush+Script&display=swap"
        rel="stylesheet">
<!--  google icons-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- CSS LINK -->
  <link rel="stylesheet" href="../static/common.css">
  <link rel="stylesheet" href="../static/changepw.css">
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <!-- JS  -->
  <script defer src="../static/changepw.js"></script>
</head>

<body>
<!-- header -->
<header>
    <div class="inner">
        <ul class="left-nav">
            <li><a href="/">홈</a></li>
            <li><a href="/mycloset">내 옷장</a></li>
            <li><a href="/community">커뮤니티</a></li>
        </ul>
        <div class="right-nav">
            {% if logged %}
            <a href="/login/logout">로그아웃</a>
            {% else %}
            <a href="/login/login_page">회원가입/로그인</a>
            {% endif %}

        </div>
    </div>
  </div>
</header>

 <!-- 비밀번호 변경 폼 -->
<div class="wrap">
  <h2>비밀번호 변경</h2>
   <div class="container">
      <form name="changePwForm" class="changepw form" id="change-pw" method="post" action="javascript:sendNewPw()" >
        <label for="currentpw">현재비밀번호</label>
          <input type="password"  name="currentpw" id="current-pw" minlength="4" maxlength="8" onchange="currentPw()" autofocus required>
        <span id="checkpw-now"></span>
        <label for="newpw">새 비밀번호</label>
        <input type="password" name="newpw" placeholder="4~8자" id="new-pw" onchange="comparePw()"
               minlength="4" maxlength="8" required>
        <span id="comparepw"></span>
        <label for="checknewpw">새 비밀번호확인</label>
        <input type="password" name="newpwcheck" id="pwd-check"  minlength="4" maxlength="8" required>
        <span id="check-new"></span>
        <!--<button onclick="sendNewPw()">변경하기</button>-->
      </form>
     </div>
      <input type="submit" value="변경하기" form="change-pw" class="changepw-btn">

</div>