<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>MY CLOSET | 옷장 살펴보기</title>

    <style>
        * {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .nav-link {
            font-size: 14px;
        }

        .menu-all {
            position: relative;
            left: 30px;
        }

        .card-columns {
            width: 90%;
            margin: 0 auto;
        }

        .btn {
            border-radius: 40px;
        }

        .pagination {
            margin: auto;
            display: inline-block;
        }

    </style>
    <script>

        $(document).ready(function () {
            load()
        });

        function load() {
            $.ajax({
                type: "GET",
                url: "/mycloset/load",
                data: {},
                success: function (response) {
                    if (response['status'] == 'SUCCESS') {
                        let user = response['user_name'];
                        let clothes = response['clothes']
                        let empty = response['empty']
                        let temp_user = `<h5 class="card-title">'${user}'님 반갑습니다</h5>`
                        $('#user_name').append(temp_user)
                        if (empty == true) {
                            $('#card-box').append('옷장이 비었습니다.')
                        } else {
                            for (i = 0; i < clothes.length; i++) {
                                let path = clothes[i]['image_path']
                                let style = clothes[i]['clothes_style']
                                let season = clothes[i]['clothes_season']
                                let kind = clothes[i]['clothes_kind']
                                let color = clothes[i]['clothes_color']

                                let temp_html = `<div class="card">
                                                 <img class="card-img-top" src="${path}"
                                                      alt="Card image cap">
                                                 <div class="card-body">
                                                     <h5 class="card-title">${style}/${season}/${kind}/${color}</h5>
                                                 </div>
                                                 </div>`
                                $('#card-box').append(temp_html)
                            }
                        }
                    } else {
                        alert(response['msg']);
                    }
                }
            })
        }
    </script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #f3e8f8;">
    <a class="navbar-brand" href="/">MY Closet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto menu-all">
            <li class="nav-item active">
                <a class="nav-link" href="/mycloset">내 옷장 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upload">새옷등록</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">코디추천</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/community">커뮤니티</a>
            </li>

        </ul>
        <span class="navbar-text">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">마이페이지</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login/logout">로그아웃</a>
                    </li>
                </ul>
            </span>
    </div>
</nav>

<div class="card text-center">
    <div class="card-body">
        <br>
        <h5 class="card-title" id="user_name"></h5>
        <p class="card-text">일상에서 더 쉽게, 더 가까이, 스마트하게 즐기는 나만의 옷장</p>
        <br>
        <a href="#" class="btn btn-light">자세히 알아보기</a>
        <br>
    </div>
</div>

<br>

<div class="btn btn-light float-right btn-sm" style="margin:0 100px 0 0">

    <div class="btn-group">
        <button type="button" class="btn btn-light btn-sm" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            색상
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item btn-sm" type="button">빨강</button>
            <button class="dropdown-item btn-sm" type="button">주황</button>
            <button class="dropdown-item btn-sm" type="button">노랑</button>
            <button class="dropdown-item btn-sm" type="button">초록</button>
            <button class="dropdown-item btn-sm" type="button">파랑</button>
            <button class="dropdown-item btn-sm" type="button">남색</button>
            <button class="dropdown-item btn-sm" type="button">보라</button>
            <button class="dropdown-item btn-sm" type="button">검정</button>
            <button class="dropdown-item btn-sm" type="button">흰색</button>
            <button class="dropdown-item btn-sm" type="button">회색</button>
            <button class="dropdown-item btn-sm" type="button">기타</button>
        </div>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-light btn-sm" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            스타일
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item btn-sm" type="button">캐주얼</button>
            <button class="dropdown-item btn-sm" type="button">데이트</button>
            <button class="dropdown-item btn-sm" type="button">오피스룩</button>
            <button class="dropdown-item btn-sm" type="button">트레이닝복</button>
            <button class="dropdown-item btn-sm" type="button">기타</button>
        </div>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-light btn-sm" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            카테고리
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item btn-sm" type="button">아우터</button>
            <button class="dropdown-item btn-sm" type="button">상의</button>
            <button class="dropdown-item btn-sm" type="button">원피스/세트</button>
            <button class="dropdown-item btn-sm" type="button">바지</button>
            <button class="dropdown-item btn-sm" type="button">스커트</button>
            <button class="dropdown-item btn-sm" type="button">기타</button>
        </div>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-light btn-sm" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            계절
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item btn-sm" type="button">봄</button>
            <button class="dropdown-item btn-sm" type="button">여름</button>
            <button class="dropdown-item btn-sm" type="button">가을</button>
            <button class="dropdown-item btn-sm" type="button">겨울</button>
        </div>
    </div>
</div>

<br>
<br>

<div class="card" id="card-box">
    <img class="card-img-top" src=""
         alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
    </div>
</div>


</body>
</html>