<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Festive&family=Do+Hyeon&family=Nanum+Brush+Script&display=swap"
          rel="stylesheet">

    <title>What's in My Closet! | 코디 자랑</title>

    <!-- CSS -->
    <link href="../static/common.css" rel="stylesheet">
    <link href="../static/main.css" rel="stylesheet">
    <style>
        .container{
            background-color: #ffebfd;
            background-color: rgba(255, 255, 255, 0.6);
            margin-top: 100px;
        }

        .nav .nav-link{
            color: #b081c5;
            font-size: 18px;
            padding: 5px 10px;
        }

        .nav a.active{
            color: #61237f;
            font-weight: bolder;
        }

        .tab-pane{
            color: #61237f;
            padding: 12px;
        }

        .card-img-top{
            border-radius: 10px;
        }

        .top-3{
            flex: 1;
            text-align: center;
        }

        .top-3 > .card{
            display: inline-block;
            width: 30%;
        }

        .btn{
            position: absolute;
            right: 0;
            background-color: white;
            font-weight: normal;
            padding: 5px;
        }

        .card-columns {
            display: flex;
            flex-wrap: wrap;
            padding-top: 50px;
            text-align: center;
        }

        .card-columns > .card{
            max-width: 23%;
            min-width: 200px;
            margin-bottom: 15px;
        }

        .pagination{
            display: flex;
            justify-content: center;
            padding-bottom: 15px;
        }
    </style>

    <!-- JavaScript -->
    <script>
        $(document).ready(function () {
            $('.nav a').click(function () {
                let tab_id = $(this).attr('target-content');

                $('.nav a').removeClass('active');
                $('.tab-pane').removeClass('active');

                $(this).addClass('active');
                $('#' + tab_id).addClass('active');
            })
        })
    </script>
</head>

<body>
<header>
    <div class="inner">
        <ul class="left-nav">
            <li><a href="/">홈</a></li>
            <li><a href="/mycloset">내 옷장</a></li>
            <li><a href="/upload">새 옷 등록</a></li>
            <li><a href="javascript:void(0)">코디 추천</a></li>
            <li><a href="/community">커뮤니티</a></li>
        </ul>
        <div class="right-nav">
            {% if logged %}
            <a href="/login/change_pw_page">비밀번호변경</a>
            <a href="/login/logout">로그아웃</a>
            {% else %}
            <a href="/login/login_page">회원가입/로그인</a>
            {% endif %}

        </div>
    </div>
</header>
<div class="container">
    <nav class="nav">
        <a class="nav-link active" target-content="rank-content" href="#">코디 랭킹</a>
        <a class="nav-link" target-content="transaction-content" href="/board">중고 거래</a>
    </nav>
    <div class="tab-content">
        <div class="tab-pane active" id="rank-content">
            <div class="top-3">
                <h3>Top 3</h3>
                <div class="card" style="width: 35%">
                    <img class="card-img-top" src="../static/uploads/test.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="card-text user">어쩔코딩 - 2022/02/20</div>
                        <div class="card-text">💖 2,022</div>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../static/uploads/test.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="card-text user">어쩔코딩 - 2022/02/20</div>
                        <div class="card-text">💖 2,022</div>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../static/uploads/test.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="card-text user">어쩔코딩 - 2022/02/20</div>
                        <div class="card-text">💖 2,022</div>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
            <hr style="height: 2px; background-color: #b081c5;">
            <div class="ootd-list">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        정렬 기준
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">인기순</a>
                        <a class="dropdown-item" href="#">최신순</a>
                        <a class="dropdown-item" href="#">오래된순</a>
                    </div>
                </div>
                <div class="card-columns">
                    <div class="card">
                        <img class="card-img-top" src="../static/uploads/test.jpg" alt="Card image cap">
                        <div class="card-body">
                            <div class="card-text user">1번 - 2022/02/20</div>
                            <div class="card-text">💖 2,022</div>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="../static/uploads/test.jpg" alt="Card image cap">
                        <div class="card-body">
                            <div class="card-text user">2번 - 2022/02/20</div>
                            <div class="card-text">💖 2,022</div>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="../static/uploads/test.jpg" alt="Card image cap">
                        <div class="card-body">
                            <div class="card-text user">3번 - 2022/02/20</div>
                            <div class="card-text">💖 2,022</div>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="../static/uploads/test.jpg" alt="Card image cap">
                        <div class="card-body">
                            <div class="card-text user">4번 - 2022/02/20</div>
                            <div class="card-text">💖 2,022</div>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="../static/uploads/test.jpg" alt="Card image cap">
                        <div class="card-body">
                            <div class="card-text user">5번 - 2022/02/20</div>
                            <div class="card-text">💖 2,022</div>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="../static/uploads/test.jpg" alt="Card image cap">
                        <div class="card-body">
                            <div class="card-text user">6번 - 2022/02/20</div>
                            <div class="card-text">💖 2,022</div>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="../static/uploads/test.jpg" alt="Card image cap">
                        <div class="card-body">
                            <div class="card-text user">7번 - 2022/02/20</div>
                            <div class="card-text">💖 2,022</div>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="tab-pane" id="transaction-content">중고 거래 게시판</div>
    </div>
</div>
</body>
</html>