<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>

    <script>
        function find_pw() {
            let user_id = $('#user_id').val()

            $.ajax({
                type: "GET",
                url: '/login/find_pw?user_id='+user_id,
                enctype: "multipart/form-data",
                async: false,
                data: {},
                success: function (response) {
                    alert(response['msg']);
                }
            })
        }
    </script>
</head>
<body>
    <input type="text" id="user_id">
    <button onclick="find_pw()">비밀번호찾기</button>
</body>
</html>