<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>What's in My Closet!</title>
  <!-- google+font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Festive&family=Do+Hyeon&family=Nanum+Brush+Script&display=swap"
        rel="stylesheet">
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <!-- css -->
  <link href="../static/common.css" rel="stylesheet">
  <link href="../static/main.css" rel="stylesheet">
  <!-- JS -->
  <script defer src="../static/main.js"></script>
</head>

<body>
<!-- header -->
<header>
    <div class="inner">
        <ul class="left-nav">
            <li><a href="/">홈</a></li>
            <li><a href="/mycloset">내 옷장</a></li>
            <li><a href="/upload">새 옷 등록</a></li>
            <li><a href="/cody">코디 추천</a></li>
            <li><a href="/community">커뮤니티</a></li>
        </ul>
        <div class="right-nav">
            {% if logged %}
            <a href="/login/change_pw_page">비밀번호변경</a>
            <a href="/login/logout">로그아웃</a>
            {% else %}
            <a href="/login/login_page">회원가입/로그인</a>
            {% endif %}

        </div>
    </div>
</header>

<!-- 메인 옷장 -->
<section class="main-wrap">
  <div class="wrap-closet">
  <img id="main-closet" src="../static/closet_with_clothes.png" alt="closet" >
  <button id="opencloset" onclick="location.href='/closet.html'">OPEN</button>
  </div>
<!--  옷장 크기가 제 컴퓨터에서는 정상이라 확인이 필요합니다-->
</section>
</body>

</html>
