{% include 'head.html' %}
<link href="../static/board.css" rel="stylesheet">
<script>

</script>
<body>
<div class="wrap">
	<div class="container">
		<br>
		<h1><strong><a style="color:#110957;">중고거래</a></strong></h1>
		<div class="new_trade"><a href="/trade/write" style="color : black;">판매 등록하기</a></div>
		<br>
		<div class="row">
			{% for list in lists %}
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					<img src="../static/uploads/{{list['cloth_name']}}" alt="..." style="width:225px; height:260px;">
					<div class="caption">
						<h3>{{list['title']}}</h3>
						<p class="list_cost"><span class="format-money">{{list['cost']}}</span>원</p>
						<p class="list_status">{{list['status']}}</p>
						<p><a href="/trade/view?goods_id={{list['_id']}}" class="btn btn-default" role="button">상세보기</a>
						</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
</body>
</html>

