{% include 'head.html' %}
<link href="../static/board.css" rel="stylesheet">
<script>
    function getParameter(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    let goods_id = getParameter("goods_id")
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/trade/view/detail?goods_id="+goods_id,
            data: {},
            success: function (response) {
                let rows = response['trade_info']

                let img_path = rows['image_path']
                let title = rows['title']
                let price = rows['price']
                let status = rows['status']
                let content = rows['content']
                let price_s = parseInt(price).toLocaleString()

                let tmp_html=`
                    <div class="goods_title">${title}</div>
                    <div class="goods_status">${status}</div>
                    <div class="goods_cost"><span class="numbers">${price_s}</span> 원</div>

                    <div class="goods_content">
                    ${content}
                    </div>
                `
                $('#goods_img').attr('src', img_path)
                $('#goods_info').append(tmp_html)

            }
        })
    })
</script>
<body>
<div class="wrap">
    <div class="container">
        <div class="title"><h2>상품정보</h2></div>

        <div class="goods_view_info">
            <div class="goods_img">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <a href="#" class="thumbnail">
                            <img src="" alt="..." id="goods_img"
                                 style="width : 425px; height : 480px;">
                        </a>
                    </div>
                </div>
            </div>

            <div class = "goods_info" id="goods_info">

            </div>
        </div>
    </div>
</div>
</body>
</html>