{% include 'head.html' %}
<link href="../static/board.css" rel="stylesheet">
<script>
    function getParameter(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    const goods_id = getParameter("goods_id")
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/trade/view/detail?goods_id="+goods_id,
            data: {},
            success: function (response) {
                let rows = response['trade_info']
                let com_rows = response['comment_info']
                let img_path = rows['image_path']
                let user_id = response['user_id']
                let title = rows['title']
                let price = rows['price']
                let status = rows['status']
                let content = rows['content']
                let price_s = parseInt(price).toLocaleString()

                for(let i=0; i < com_rows.length; i++){
                    let comment_userName = com_rows[i]['user_name']
                    let comment_contents = com_rows[i]['contents']
                    let comment_datetime = com_rows[i]['datetime']
                    let comment_userId = com_rows[i]['user_id']
                    let comment_id = com_rows[i]['_id']

                    if(user_id == comment_userId){
                        let com_html =`
                            <div class = "comment_out">
                                <div class = "com_username">${comment_userName}  ${comment_datetime}
                                <span id="comment_auth">
                                    <a href='#'>수정</a>
                                    <span class="delete_post"  onclick=" if(confirm('이 게시글을 삭제하시겠습니까?') == true) {
                                        alert('삭제되었습니다.')
                                        location.href='/trade/view/comment_del?com_id=${comment_id}'
                                      } else {
                                        return location.href='#'
                                      }">삭제하기</span>
                                </span></div>
                                <div class = "com_contents">${comment_contents}</div>
                            </div>
                            `
                        $('#comment_view').append(com_html)
                    }
                    else {
                        let com_html =`
                            <div class = "comment_out">
                                <div class = "com_username">${comment_userName}  ${comment_datetime}
                                <span id="comment_auth"></span></div>
                                <div class = "com_contents">${comment_contents}</div>
                            </div>
                            `
                        $('#comment_view').append(com_html)
                    }
                }

                let tmp_html=`<li class="title">${title}</li>
                              <li class ="status">${status}</li>
                               <li class ="price">${price_s}</li>
                              <li class = "desc"> ${content}</li>

                `

                $('#goods_img').attr('src', img_path)
                $('#goods_info').prepend(tmp_html)

              if (user_id == rows['user_id']) {
                let auth_html = `
                               <a href='/trade/modify?goods_id=${goods_id}'>수정하기</a>
                               <span class="delete_post"  onclick=" if(confirm('이 게시글을 삭제하시겠습니까?') == true) {
        alert('삭제되었습니다.')
        location.href='/trade/delete?goods_id=${goods_id}'
      } else {
        return location.href='#'
      }">삭제하기</span>
                               `
                $('#auth').append(auth_html)
                }
            }
        })
    });

    function comment_write(){
        let contents = $('#contents').val()
        $.ajax({
            type : "POST",
            url : "/trade/view/comment_write",
            data : {
                contents : contents,
                trade_id : goods_id
            },
            success: function(response){
                alert(response['msg'])
                location.reload()
            }
        })
    }

</script>
<body>
    <div class="container">
      <div class="auth" id="auth"></div>
      <div class="product_info">
      <img id="goods_img" src="" alt=""  style="width : 350px; height : 350px">
      <ul class="info_all" id="goods_info">

      </ul>
      </div>
      <div class="comment_wrap">
        <div class="comment_write">
            <h5>댓글 입력하기</h5>
            <form name="comment_write" method="POST" action="javascript:comment_write()">
                <div class="comment_input">
                    <textarea class="form-control comment_text" rows="3" name="contents" id="contents"></textarea>
                    <input type="submit" class="comment_btn" value="등록하기">
                </div>
            </form>
        </div>
      <div class="comment_view" id="comment_view">
        </div>
      </div>
</div>
</body>
</html>